## Deliverable 2. Create a Customer Travel Destinations Map.

In [62]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [63]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Resources/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cidreira,BR,-30.1811,-50.2056,58.41,90,2,9.10,clear sky
1,1,Arraial Do Cabo,BR,-22.9661,-42.0278,68.11,71,0,11.03,clear sky
2,2,Skorodnoye,RU,51.0710,37.2276,57.33,65,72,8.81,broken clouds
3,3,Sitka,US,57.0531,-135.3300,57.09,94,100,6.91,light rain
4,4,Sokolo,ML,14.7328,-6.1219,85.35,51,11,9.24,few clouds

In [67]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 45
What is the maximum temperature you would like for your trip? 80

In [68]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cidreira,BR,-30.1811,-50.2056,58.41,90,2,9.10,clear sky
1,1,Arraial Do Cabo,BR,-22.9661,-42.0278,68.11,71,0,11.03,clear sky
2,2,Skorodnoye,RU,51.0710,37.2276,57.33,65,72,8.81,broken clouds
3,3,Sitka,US,57.0531,-135.3300,57.09,94,100,6.91,light rain
5,5,Bluff,NZ,-46.6000,168.3333,51.80,74,100,16.87,overcast clouds
6,6,Chumikan,RU,54.7183,135.3150,54.09,98,100,7.47,light rain
8,8,Salalah,OM,17.0151,54.0924,77.09,88,75,9.22,broken clouds
9,9,Rikitea,PF,-23.1203,-134.9692,72.10,74,100,24.45,light rain
10,10,Atherton,GB,53.5237,-2.4935,54.95,90,100,1.77,overcast clouds
12,12,Hamilton,US,39.1834,-84.5333,73.49,85,0,6.91,clear sky

In [69]:
# 4a. Determine if there are any empty rows.
city_data_df.count()

City_ID                567
City                   567
Country                561
Lat                    567
Lng                    567
Max Temp               567
Humidity               567
Cloudiness             567
Wind Speed             567
Current Description    567
dtype: int64

In [70]:
preferred_cities_df.count()

City_ID                408
City                   408
Country                402
Lat                    408
Lng                    408
Max Temp               408
Humidity               408
Cloudiness             408
Wind Speed             408
Current Description    408
dtype: int64

In [71]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
cl_cities.df = preferred_cities_df.dropna()
cl_cities.df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cidreira,BR,-30.1811,-50.2056,58.41,90,2,9.10,clear sky
1,1,Arraial Do Cabo,BR,-22.9661,-42.0278,68.11,71,0,11.03,clear sky
2,2,Skorodnoye,RU,51.0710,37.2276,57.33,65,72,8.81,broken clouds
3,3,Sitka,US,57.0531,-135.3300,57.09,94,100,6.91,light rain
5,5,Bluff,NZ,-46.6000,168.3333,51.80,74,100,16.87,overcast clouds

In [72]:
cl_cities.count()

City_ID                480
City                   480
Country                480
Lat                    480
Lng                    480
Max Temp               480
Humidity               480
Cloudiness             480
Wind Speed             480
Current Description    480
dtype: int64

In [73]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = cl_cities.df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cidreira,BR,58.41,clear sky,-30.1811,-50.2056,
1,Arraial Do Cabo,BR,68.11,clear sky,-22.9661,-42.0278,
2,Skorodnoye,RU,57.33,broken clouds,51.0710,37.2276,
3,Sitka,US,57.09,light rain,57.0531,-135.3300,
5,Bluff,NZ,51.80,overcast clouds,-46.6000,168.3333,
6,Chumikan,RU,54.09,light rain,54.7183,135.3150,
8,Salalah,OM,77.09,broken clouds,17.0151,54.0924,
9,Rikitea,PF,72.10,light rain,-23.1203,-134.9692,
10,Atherton,GB,54.95,overcast clouds,53.5237,-2.4935,
12,Hamilton,US,73.49,clear sky,39.1834,-84.5333,

In [74]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()    
# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [75]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cidreira,BR,58.41,clear sky,-30.1811,-50.2056,Hotel Castelo
1,Arraial Do Cabo,BR,68.11,clear sky,-22.9661,-42.0278,Pousada Porto Praia
2,Skorodnoye,RU,57.33,broken clouds,51.0710,37.2276,
3,Sitka,US,57.09,light rain,57.0531,-135.3300,Westmark Sitka
5,Bluff,NZ,51.80,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park

In [77]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cidreira,BR,58.41,clear sky,-30.1811,-50.2056,Hotel Castelo
1,Arraial Do Cabo,BR,68.11,clear sky,-22.9661,-42.0278,Pousada Porto Praia
3,Sitka,US,57.09,light rain,57.0531,-135.3300,Westmark Sitka
5,Bluff,NZ,51.80,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
6,Chumikan,RU,54.09,light rain,54.7183,135.3150,Fortuna

In [80]:
# 8a. Create the output File (CSV)
output_data_file = "Resources/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [81]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [82]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))